/*------------>*/
/*--Tweetview->*/
/*------------>*/

/* .tweet-para {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.3em;
  border: 0.5px solid rgba(27, 40, 54, 0.5);;
  border-radius: 5px;
  width: 494px;
  display: block;
  padding: 12px 6px 12px 6px;
  margin-bottom: 4pt;
}
 = original formatting */

.tweet-para {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

a.tweet-lnk {
  font-size: 100%;
  line-height: 1.3em;
  text-decoration: none;
  color:rgb(29, 161, 242)
}

img.twimg {
  display: block;
  max-width:1vw;
  border: 0.50px dotted black;
  margin-top:12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:12px;
}




/*--------->*/
/*--IFRAME->*/
/*--------->*/

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


/*--------->*/
/*--TAGS--->*/
/*--------->*/

.tag {
display: inline-block;
background: rgba(106,159,181,0.15);
padding: 0 .5rem;
margin-right: 0;
border-radius: 4px;
font-size: 90%;
}

.tag-page {
display: inline-block;
background: rgba(106,159,181,0.15);
padding: 0 .5rem;
margin-right: 0;
border-radius: 4px;
font-size: 150%;
}

/*--------->*/
/*--ICONS-->*/
/*--------->*/

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* RSS */
.fa-rss {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}


/*--IMAGES-->*/

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

/*-------------->*/
/*--NAVIGATION-->*/
/*-------------->*/

.navigation {
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 20px;
    list-style-type:none;
	width:100%;
}
.navigation li {
    float: left;
    position: relative;
	z-index: 999;
    list-style: none;
}
.navigation li a {
	z-index: 999;
	float: left;
    color: #333;
    font-weight: normal;
    font-size: 20px;
    border-radius: 5px;
    padding: 8px 0px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    line-height:25px;
}
.navigation ul li a {
	z-index: 999;
	float: left;
    border-radius: 0;
    padding: 5px 5px;
    margin:0px;
    font-weight: normal;
    text-transform: initial;
}
.navigation li > ul {
    background:white;
    position:absolute;
    list-style-type: none;
    top: 30px;
    margin: 0;
    padding: 0;
    border: Opx solid #666;
	opacity: 0.9;
    border-radius: Opx;
    left:0;
    display: none;
    min-width: 100%;
}
.navigation li:hover > ul {
    display: block;
    list-style: none;
}
.navigation li ul li {
    display: block;
    float: none;
    margin-left: 0;
}
.navigation li ul li a:hover {
    border-radius: 0;
    color: #444;
    background: #eeeeee;
}
.navigation > li a:hover, .navigation li > ul:hover + a, .navigation li.current > a {
    color: #86569A;
}
.navigation li.current > a {
	float: left;
    font-weight: bold
}
.navigation li a[href^=http]:after {
    font-family:"fontello";
    font-style: normal;
    font-weight: normal;
    content:'\e9c8';
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: Oem;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: Oem;
}
.navigation .second-level {
    left: 100%;
    top: 0;
}


/*--Footer-->*/

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
	float: left;
    display: inline;
    margin-right: 20px;
}

nav ul li, footer ul li.bottom {
	float: left;
    display: inline;
    margin-right: 20px;
	margin-block-end: 0px;
}

/*--Footer Fiddling-->*/

.container-footer {
  position: relative;
  text-align: center;
  color: black;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.container-footer ul {
margin-block-start: 0px;
margin-block-end: 0px;
margin-bottom: 0px;
}


/*--CSS FOR TABLE:-->*/

.dataTables_filter {
	font-family:'Raleway', 'Arial', 'Sans-Serif';
}
.dataTables_info {
	font-family:'Raleway', 'Arial', 'Sans-Serif';
}
a:any-link {
}
span.undefined {
	color: red;
}
.bibtable {
	font-family:'Raleway', 'Arial', 'Sans-Serif';
	width: 100%;
	margin: 0 auto;
	clear: both;
}
.bibchart {
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
}
.clear {
	clear: both;
}
.year {
	position: relative;
	height: 100%;
	border-bottom: 1px solid black;
	display: inline-block;
}
.yearlabel {
	font-family:'Raleway', 'Arial', 'Sans-Serif';
	position: absolute;
	bottom: -20px;
	text-align: center;
	width: 100%;
	font-size: smaller;
}
.pub {
	border: 1px solid white;
	background-color: #eee;
}
.inproceedings {
	background-color: #ccf;
}
.article {
	background-color: #beb;
}
.inbook {
	background-color: #eaa;
}
.phdthesis {
	background-color: #999;
}
.unpublished {
	background-color: #eae;
}
.mastersthesis {
	background-color: #eea;
}
.techreport {
	background-color: #b77;
}
.proceedings {
	background-color: #9494ff;
}
.book {
	background-color: #ed7878;
}
.legend .pub {
	width: 10px;
	height: 10px;
	display: inline-block;
	margin: 0 5px 0 15px;
}
.legend {
	font-family:'Raleway', 'Arial', 'Sans-Serif';
	margin-bottom: 24px;
	text-align: center;
	width: 100%;
}
table.display thead th {
	padding: 3px 18px 3px 10px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	font-weight: bold;
	cursor: pointer;
	cursor: hand;
}
table.display tfoot th {
	padding: 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}
table.display td {
	padding: 3px 10px;
}
table.display td.center {
	text-align: center;
}
table.display {
	margin-top: 24px;
}
.sorting_asc {
	background: url('lib/images/sort_asc.png') no-repeat center right;
}
.sorting_desc {
	background: url('lib/images/sort_desc.png') no-repeat center right;
}
.sorting {
	background: url('lib/images/sort_both.png') no-repeat center right;
}
.sorting_asc_disabled {
	background: url('lib/images/sort_asc_disabled.png') no-repeat center right;
}
.sorting_desc_disabled {
	background: url('lib/images/sort_desc_disabled.png') no-repeat center right;
}
tr.odd {
	background-color: #eee;
}
tr.even {
	background-color: white;
}
div.hidden {
	display: none;
}
div.bibinfo {
	width: 80%;
	position: fixed;
	top: 100px;
	left: 10%;
	background-color: #bbb;
	border: 3px solid #fff;
	padding: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	z-index: 50;
}
#shutter {
	background-color: #555;
	opacity: 0.7;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
}
a.bibclose {
	background-color: #BBBBBB;
	border: 3px solid #FFFFFF;
	color: black;
	float: left;
	font-size: 20px;
	height: 20px;
	left: -25px;
	line-height: 20px;
	padding: 3px;
	position: relative;
	text-align: center;
	text-decoration: none;
	top: -25px;
	width: 20px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
}
div.bibinfo pre {
	clear: both; }

/*--CSS FOR SITE/WEBPAGES:-->*/

body {
    margin: 60px auto;
    width: 70%;
}
li {
    font-family:'Helvetica', 'Sans-Serif';
	list-style: inside;
	margin: 12px 0;
	indent: 10px;
}
.paragraph-list {
font-family: "Times New Roman", 'Helvetica','Sans-Serif';
font-size: 125%;
}
a {
    text-decoration: none;
}
/*a:hover {
    text-decoration: underline;
}*/

/*h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}*/

h1 {
font-size: 1.5em;
font-family: 'Helvetica','Sans-Serif';
background: #b8c2b1;
font-weight: bold;
padding: 5px;
}


h2 {
font-size: 1.5em;
font-family: 'Helvetica', 'Arial', 'Sans-Serif';
background-color: beige;
}
p {
    font-size: 1.3em;
    line-height: 1.4em;
    color: #333;
}
footer {
	background-size: 100% auto;
	background-position: center top;
	background-repeat: no-repeat;
    border-top: 1px solid #d5d5d5;
	margin: 0 auto;
	bottom: 0;
	left: 0;
    font-size: 0.9em;
	text-align: center;
}
.bannerImage {
    width: 100%;
    height: auto;
    opacity:0;
}
.footlink {
    color: #adbacc !important;
	text-decoration: underline;
}

p.foottext {
	font-size: 0.9em;
    color: #adbacc !important;
}

.footlink:visited
{
    background-color: #adbacc; 
}
.footlink:hover
{
    color: #adbacc; 
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/*-------------->*/
/*--SCROLLING-->*/
/*-------------->*/


#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#3498db;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#e74c3c;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}