<!DOCTYPE html>
<html>

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-5450093-4"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-5450093-4');
	</script>
	<script type="application/json" class="js-hypothesis-config">

	{"showHighlights": false}

	</script>
	<script src="https://hypothes.is/embed.js" async></script>
	<!-- Enable Altmetric badges loading -->
	<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
	
    <title>{{ page.title }}</title>
	<!-- jquery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/academicons.min.css"/>
</head>

<body>
    <nav>
		<ul class="navigation" style="clear:both;">
		      {% for link in site.navigation %}
		        {% assign url = page.url|remove:'index.html' %}
		        {% assign hasFirst = link.first-level != undefined %}          
		        <li 
		            {% if hasFirst %} class="nested" {% endif%} {% if url == link.url %} class="current"{% endif %}>
		            {% if hasFirst %} 
		                <ul class="first-level">
		                    {% for firstlevel in link.first-level %}  
		                        <li {% if url == firstlevel.url %} class="current" {% endif %} >
		                            {% assign hasSecond = firstlevel.second-level != undefined %}
		                            {% if hasSecond %} 
		                                <ul class="second-level">
		                                    {% for secondlevel in firstlevel.second-level %}
		                                        <li>
		                                            <a href="{{ secondlevel.url }}">{{ secondlevel.text }}</a>
		                                        </li>
		                                    {% endfor %}
		                                </ul>
		                            {% endif %}
		                            <a {% if firstlevel.target != undefined %} target="{{firstlevel.target}}" {% endif %} href="{{ firstlevel.url }}">{{ firstlevel.text }}{% if hasSecond %} <i class='icon-right-dir-2'></i>{% endif %}</a>
		                        </li>
		                    {% endfor %}
		                </ul>                   
		            {% endif %}
		            <a href="{{link.url}}"  class="{{link.icon}}">{{link.root}} {% if hasFirst %} <i class='icon-down-dir-2'></i>{% endif %}</a>
		        </li>
		      {% endfor %}
		  </ul>
		  <ul class="navigation" style="clear:both;"> </ul>
    </nav>
    <div class="container">

        {{ content }}

    </div><!-- /.container -->
	{% if page.comments %}
	<div id="disqus_thread"></div>
	<script>

	/**
	*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
	var disqus_config = function () {
	this.page.url = "{{site.url}}{{page.url}}";  // Replace PAGE_URL with your page's canonical URL variable
	this.page.identifier = "{{page.url}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
	};
	
	(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');
	s.src = 'https://florian-dierickx.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	{% endif %}
    <footer style="background-image: url('/icons/banner.jpeg')">
	<div class="container-footer">
		<img src="/icons/banner.jpeg" alt="banner image" class="bannerImage">
		<div class="top-left">
			<ul>
				<li>
					<!--<i class="fas fa-envelope" data-fa-transform="left-6" style="color:#adbacc"></i>--><a href="mailto:mhdabuella@gmail.com" class="footlink"> Email</a>
				</li>
				<li>
					<!--<i class="fab fa-github" data-fa-transform="left-6" style="color:#adbacc"></i>--> <a href="https://github.com/mhdella" class="footlink"> github.com/mhdella</a>
				</li>
			</ul>
		</div>
		
		<div class="bottom-right">
			<ul>
				<li class="bottom" style="color:blue" <p class="foottext">09 August 2019</p>
				</li>
			</ul>
		</div>
	</div>
</footer>

</body>

</html>
